<!DOCTYPE html>
<html>
<head>
    <title>Studenti s [ >=10 ] ECTS</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Studenti s [ >=10 ] ECTS</h1>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>ECTS</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.username }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.total_ects }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

